body{
	background-color: #95a5a6 !important;
	color:white;
}.titre{
  //padding-top: 5px;
    //padding-bottom: 5px;
    margin-top: 1vh;
    margin-bottom: 0;
    color: whitesmoke;
    //background-color: #e7e5e4;
    font-family: 'Gabriela', serif;
    font-size: 50px;
    letter-spacing: .10em;
    //text-align: center;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #767474;
}img{
	opacity: 0.4;
	margin-top: 0px;
	cursor: pointer;
	display: block;
	position: relative;
  left: 48%;
	margin-top: 25px;

}
img:hover{
	opacity: 0.2;
}
input[type="text"] {
  height: 60px;
  font-size: 25px;
  display: none;
  font-family: "monospace";
  font-weight: 100;
  border: none;
  outline: none;
  color: whitesmoke;
  padding: 3px;
  //padding-right: 60px;
  width: 43%;
  position: relative;
  left: 28%;
margin-top: 25px;
  background: none;

  border-bottom: 1px solid white;
  cursor: text;
}::-webkit-input-placeholder {
   color:#bdc3c7 ;
}.search{
	width: auto;
	height: auto;
	position: relative;
	top:30vh;
	transition: all .9s ;
}.resultAll{
	margin-top: 40px;
}li{
	background-color: #ecf0f1;
	padding:20px;
	margin-bottom: 10px;
	list-style-type:none;
	box-shadow: 1px 1px 5px 1px;

}li:hover{
	border-left: 10px solid #3498db;
	transition: all .5s ;
}.title{
	font-size: 22px;
	font-family: "lato";

}
